.card{
    width: 1em;
    height: 1em;
}
.grid{
    display: grid;
    border: 1px solid;
    width: fit-content;
}
.lr{
    display: flex;
}
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    width: 5em;
    margin: 1em;
    padding: 10px 20px;
   
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
   }
   .btns{
       align-items: center;
       display: flex;
       flex-direction: column;
   }
img{
    height: 100%;

}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.grid{
    margin: auto;
}
.score{
    margin: auto;
    font-size: 1.2em;
}
#clock{
    margin: 0 1em;

}
.instructions{
    text-align: center;
}
.score{
    text-align: center;
    
}
